.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: white;
  margin: 2%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.name {
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
}
.price {
  padding: 1%;
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
}

.cardImg {
  height: 100%;
  width: 100%;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer button {
  height: 30px;
  width: 100px;
  background: #59b959;
  color: white;
  font-weight: 500;
}

img {
  /* max-height: 300px; */
}
@media (min-width: 600px) {
  .cardContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    margin: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
